# TLS server certificate request

# This file is used by the openssl req command. The subjectAltName cannot be
# prompted for and must be specified in the SAN environment variable.

[ default ]
SAN                     = DNS:{{ cert_common_name }},IP:{{ ip_addrs.stdout_lines|join(',IP:') }}

[ req ]
default_bits            = 2048                  # RSA key size
encrypt_key             = no                    # Protect private key
default_md              = sha1                  # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = yes                   # Prompt for DN
distinguished_name      = server_dn             # DN template
req_extensions          = server_reqext         # Desired extensions

[ server_dn ]
# 0.domainComponent       = "1. Domain Component         (eg, com)      "
# 1.domainComponent       = "2. Domain Component         (eg, company)  "
# 2.domainComponent       = "3. Domain Component         (eg, pki)      "
{% set index = 0 %}
{% for item in ca_domain_name.split('.') | reverse() %}
{{ index }}.domainComponent = "{{ item }}"
{% set index += 1 %}
{% endfor %}
organizationName        = "{{ ca_organization_name }}"
organizationalUnitName  = "{{ ca_organizational_unit }}"
commonName              = "{{ cert_common_name }}"
commonName_max          = 64
emailAddress            = "{{ cert_email_address }}"

[ server_reqext ]
keyUsage                = critical,digitalSignature,keyEncipherment
extendedKeyUsage        = serverAuth,clientAuth
subjectKeyIdentifier    = hash
subjectAltName          = $ENV::SAN
